﻿@{
    ViewData["Title"] = "Data";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This page is for loading data into mongo db. Additional cleaning will be provided too.</p>

<div class="container">
      <button type="button" class="btn btn-primary">Load Data</button>
</div>

    <label class="control-label">Select File</label>
    <input id="input-4" name="input4[]" type="file" multiple class="file-loading">
    <script>
    $(document).on('ready', function() {
        $("#input-4").fileinput({showCaption: false});
    });
    </script>

