﻿@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
      <h1>AMPLYFI challenge</h1>
      <p>Welcome to my small web application.<br> Everything is explained below.</p>
</div>


<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Loading JSON data to mongo DB</li>
            <li>Doing queries on the data</li>
            <li>Making analysis on the data</li>
            <li>Making visualization of the data and analysis</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li>Navigate to different pages</li>
            <li>Home - this page</li>
            <li>Data - loading and cleaning the data</li>
            <li>Analysis - analysis and visualization of the gathered data</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>About</h2>
        <ul>
            <li>Made by Roman Kopšo for AMPLYFI data challenge</li>
        </ul>
    </div>
</div>
